* {
    margin: 0;
    padding: 0;
}

.containerNav {
    width: 100%;
    height: 10vh;
    background: #FF6D00;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 8px;
    margin-right: 30px;
}

.Logo {
 
    height: 100%;
}

.Logo img {
    height: 100%;   
}


/* Estilos Nav Administración */

.containerNavAdmin {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.adminTop {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
    background: #077B75;
    padding: 8px;
}

.txt .contIconNavTop {
    display: none;
}

.txt h2 {
    font-size: 16pt;
    color: #fff;
    font-weight: bold;
}

.contRight {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconAdmin {
    color: #fff;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Nav lateral Admin*/

.adminLateral {
    width: 16%;
    height: 100vh;
    padding: 12px;
    position: fixed;
    background: #707070;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #FF6D00 1px solid;
}

.logo img {
    height: 100%;
}

.menu {
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.menu ul li {
    font-size: 20pt;
    margin: 8px 0;
    display: flex;
    justify-content: start;
}

.menu ul li h3 {
    margin: 0 12px;
}


/* Responsive */

@media only screen and (max-width: 5200px) {
    .adminTop {
        width: 100% !important;
    }
    .txt h2 {
        display: none !important;
    }
    .txt .contIconNavTop {
        display: block !important;
    }
    .iconNavTop {
        font-size: 16pt !important;
    }
    .txt a {
        color: #000 !important;
        font-size: 16pt !important;
    }
    .contRight {
        width: 60% !important;
    }
    .adminLateral {
        display: none !important;
    }
}