.containerForm {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*RESPONSIVE EXTRA*/
.modal-dialog{
    max-width: 50%;
}

.container{
    margin: auto !important;
    padding: 0%;
}

.card-body{
    padding: 0%;
}

/*query que se activa cuando con el responsive(cuando se esta con un celular)*/
@media only screen and (max-width: 900px) {
    .modal-dialog {
        max-width: 95% !important;
        margin: 0 auto !important;
    }
}

.row{
    margin: 5% !important;
    flex-wrap: nowrap !important;
    place-content: center !important;
}

.col{
    padding: 0%;
}